body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: aliceblue;
}

.card {
    border-radius: 0.5rem;
}

.goodPadding {
    padding: 1rem;
}

.cartItemDonation {
    background-color: lightgreen;
}

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 0.2rem grey solid;
    left: 0;
}

.stickyHeader {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.divider {
    background-color: gainsboro;
}

label {
    color: black
}

.goodVisText {
    font-size: 1.2rem;
}

.deadSpace {
    height: 10rem;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    position: fixed;
    bottom: -0.9rem;
    width: 100%;
    border-top: 0.2rem grey solid;
    left: 0;
}

.emptyCartMsg {
    padding-top: 50%;
    font-size: 1.1rem;
}

.itemImage {
    width: 7rem;
    height: 7rem;
}

.globeItem {
    width: 4.5rem;
    height: 4.5rem;
}

.deadSpace {
    height: 4.5rem;
}

.footerMainObject {
    width: 4rem;
    height: 4rem;
}

.choiceButton {
    width: 50%;
}